body{

background-color:#e45826;
}

h1{

color:#4a47a3;
}
hr{
background-color:white;
border-style:none;
border-top-style:dotted;
border-color:red;
border-width:5px;
height: 5px;
width:50%;
}
